@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap);
.btn {
  background: #D89C01;
  border-radius: 5px;
  border: 2px solid #dcdcdc;
  color: #363636;
  font-size: 15px;
  min-width: 100px;
  padding: 5px 15px;
}
.btn:focus, .btn:hover {
  box-shadow: 0 0 0 0.1rem #dcdcdc;
  color: #363636;
}

.btn-yellow {
  border: 2px solid #D89C01;
  color: #fff;
}
.btn-yellow:focus, .btn-yellow:hover {
  box-shadow: 0 0 0 0.2rem rgba(216, 156, 1, 0.5);
  color: #fff;
}

form input,
form select,
form textarea {
  border-radius: 3px !important;
}
form input:focus,
form select:focus,
form textarea:focus {
  box-shadow: 0 0 0 0.1rem #363636 !important;
  border: 1px solid #363636 !important;
}
form textarea {
  resize: vertical;
}
form button {
  float: right;
}
form label {
  font-size: 15px;
}

.divider {
  background: #D89C01;
  height: 2px;
  margin: auto auto 20px;
  width: 40px;
}

html, body {
  background: #ededed;
  color: #2E2E2E;
  font-family: "Roboto", sans-serif;
  min-height: 100%;
}

.navbar {
  background: #2E2E2E;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar .navbar-brand {
  color: #fff;
}
.navbar .nav-item:hover, .navbar .nav-item.active {
  border-bottom: 2px solid #D89C01;
  height: 40px;
}
.navbar .nav-item a {
  background: none !important;
  color: #fff !important;
}
.navbar .contact {
  font-size: 14px;
  flex: auto;
  text-align: right;
}
.navbar .contact p {
  color: #fff;
  margin-bottom: 0;
}
.navbar .contact p i {
  font-size: 12px;
}

.index .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/img/kitchen.png");
  background-size: cover;
  height: 500px;
  padding-top: 150px;
  background-position-y: bottom;
}
.index .jumbotron .jumbotron-content {
  padding: 65px 0 65px;
}
.index .jumbotron .jumbotron-content h1 {
  color: #fff;
}
.index .jumbotron .jumbotron-content p {
  color: #d5d5d5;
}
.index .jumbotron .jumbotron-content a {
  font-size: 16px;
  width: 150px;
}
.index .services {
  background: #D89C01;
}
.index .services .service-panel-center {
  background: #C89000;
}
.index .services .service-panel {
  padding: 45px 25px;
}
.index .services .service-panel h3 {
  color: #fff;
  font-size: 24px;
}
.index .services .service-panel .icon {
  color: white;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
  font-size: 25px;
  height: 50px;
  padding-top: 5px;
  width: 50px;
  margin-right: 10px;
}
.index .services .service-panel .icon i {
  margin-top: 5px;
}
.index .services .service-panel .divider {
  background: #fff;
  height: 2px;
  margin: -10px auto 30px 70px;
  width: 50px;
}
.index .services .service-panel .service-panel-content {
  color: #fff;
  margin: 0;
}
.index .our-work {
  margin: 40px 0;
}
.index .our-work .quote {
  margin-bottom: 30px;
}
.index .our-work .quote .quote-content {
  color: #2E2E2E;
  font-size: 18px;
}
.index .our-work .quote .quote-author {
  color: #828282;
  font-size: 15px;
}
.index .our-work .our-work-panel {
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  padding: 25px;
}
.index .our-work .our-work-panel .image {
  background-size: cover;
  border-radius: 5px;
  min-height: 200px;
  max-height: 300px;
  width: 100%;
}
.index .our-work .our-work-panel h2 {
  margin-top: 15px;
  font-size: 24px;
}
.index .our-work .our-work-panel p {
  color: #828282;
  font-size: 15px;
}
.index .who-we-are {
  background: #dcdcdc;
  padding: 40px 0;
}
.index .who-we-are h2 {
  color: #2E2E2E;
  font-size: 25px;
}
.index .contact-form {
  background: #2E2E2E;
  padding: 40px 0;
}
.index .contact-form form {
  border-bottom: 1px solid #363636;
}
.index .contact-form h2 {
  color: #fff;
  font-size: 25px;
}
.index .contact-form label {
  color: #fff;
}
.index .contact-form input,
.index .contact-form select,
.index .contact-form textarea {
  background: #363636;
  border: 1px solid #828282;
  color: #fff;
}
.index .contact-form input:focus,
.index .contact-form select:focus,
.index .contact-form textarea:focus {
  box-shadow: 0 0 0 0.1rem #363636 !important;
  border: 1px solid #363636 !important;
}
.index .contact-form .copyright {
  color: #828282;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .contact-info {
  list-style: none;
}
.contact .contact-info li {
  position: relative;
  min-height: 60px;
  display: table;
}
.contact .contact-info li i {
  background: #363636;
  border-radius: 50%;
  color: #fff;
  display: block;
  height: 32px;
  font-size: 14px;
  line-height: 33px;
  position: absolute;
  text-align: center;
  width: 32px;
}
.contact .contact-info li .info-item {
  color: #dcdcdc;
  font-size: 15px;
  display: table-cell;
  padding: 5px 0 0 45px;
}
