@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import 'variables';
@import 'global';

html, body {
    background: #ededed;
    color: $dark-grey;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

.navbar {
    background: $dark-grey;
    padding-left: 15px;
    padding-right: 15px;

    .navbar-brand {
        color: #fff;
    }

    .nav-item {
      &:hover, &.active {
        border-bottom: 2px solid $yellow;
        height: 40px;
      }

      a {
        background: none !important;
        color: #fff !important;
      }
    }

    .contact {
        font-size: 14px;
        flex: auto;
        text-align: right;

        p {
            color: #fff;
            margin-bottom: 0;

            i {
                font-size: 12px;
            }
        }
    }
}

.index {
    .jumbotron {
        background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url("/img/kitchen.png");
        background-size: cover;
        height: 500px;
        padding-top: 150px;
        background-position-y: bottom;

        .jumbotron-content {
            padding: 65px 0 65px;

            h1 {
                color: #fff;
            }

            p {
                color: #d5d5d5;
            }

            a {
                font-size: 16px;
                width: 150px;
            }
        }
    }

    .services {
        background: $yellow;

        .service-panel-center {
            background: #C89000;
        }

        .service-panel {
            padding: 45px 25px;

            h3 {
                color: #fff;
                font-size: 24px;
            }

            .icon {
                color: white;
                text-align: center;
                border-radius: 50%;
                border: 2px solid #fff;
                display: inline-block;
                font-size: 25px;
                height: 50px;
                padding-top: 5px;
                width: 50px;
                margin-right: 10px;

                i {
                    margin-top: 5px;
                }
            }

            .divider {
                background: #fff;
                height: 2px;
                margin: -10px auto 30px 70px;
                width: 50px;
            }

            .service-panel-content {
                color: #fff;
                margin: 0;
            }
        }
    }

    .our-work {
        margin: 40px 0;

        .quote {
            margin-bottom: 30px;

            .quote-content {
                color: $dark-grey;
                font-size: 18px;
            }

            .quote-author {
                color: $light-grey;
                font-size: 15px;
            }
        }

        .our-work-panel {
            border-radius: 5px;
            border: 1px solid $lighter-grey;
            padding: 25px;
            min-height: 100%;

            .image {
                background-size: cover;
                border-radius: 5px;
                min-height: 200px;
                max-height: 300px;
                width: 100%;
            }

            h2 {
                margin-top: 15px;
                font-size: 24px;
            }

            p {
                color: $light-grey;
                font-size: 15px;
                margin-bottom: 0;
            }
        }
    }

    .who-we-are {
        background: $lighter-grey;
        padding: 40px 0;

        h2 {
            color: $dark-grey;
            font-size: 25px;
        }
    }

    .contact-form {
        background: $dark-grey;
        padding: 40px 0;

        form {
            border-bottom: 1px solid $medium-grey;
        }

        h2 {
            color: #fff;
            font-size: 25px;
        }

        label {
            color: #fff;
        }

        input,
        select,
        textarea {
            background: $medium-grey;
            border: 1px solid $light-grey;
            color: #fff;

            &:focus {
                box-shadow: 0 0 0 0.10rem $medium-grey !important;
                border: 1px solid $medium-grey !important;
            }
        }

        .copyright {
            color: $light-grey;
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}

.contact {
    .contact-info {
        list-style: none;

        li {
            position: relative;
            min-height: 60px;
            display: table;

            i {
                background: $medium-grey;
                border-radius: 50%;
                color: #fff;
                display: block;
                height: 32px;
                font-size: 14px;
                line-height: 33px;
                position: absolute;
                text-align: center;
                width: 32px;
            }

            .info-item {
                color: $lighter-grey;
                font-size: 15px;
                display: table-cell;
                padding: 5px 0 0 45px;
            }
        }
    }
}

.our-work-gallery {
    section {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    img {
        margin: 8px;
    }
}
